# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Env files
.env

# Optional: ignore local testing files
test.js

# Keep SVG (IMPORTANT)
# DO NOT ignore assets/leetcode.svg